body{
  background-color: #dde0f4;
  background-image: url(fondo.jpg);
  background-size: cover;
  opacity: inherit;
}
header {background: #9f7acd;
border: black 5px solid;}

nav{
  background-color: white;
border: #9f7acd 5px solid;
position: inherit;
}

h1 {text-decoration: underline;
font-size: 75px; }

h2 {text-decoration: underline;
font-size: 50px;}


h3 {font-size: 40px;
  background-color: white;
border: #9f7acd 5px solid;
position: inherit;}


h4 {font-size: 40px;
  background-color: white;
border: #9f7acd 5px solid;
position: inherit;

}

p {font-size: 30px;}

section{
color: black;
background-color:#9f7acd;
font-style:normal;
font-size: 1.3em;
font-variant: inherit;
text-decoration: underline;
border: black 5px solid;
}

aside{background-color: #9f7acd;
border: black 5px solid;}
footer{
  color: black;
  background-color: white;
  border: #9f7acd 5px solid;
}
footer:hover {background-color: #9f7acd;}

#elemento1:hover{
 background-color: #9f7acd;
}
#elemento2:hover{
 background-color: #9f7acd;
}
#elemento3:hover{
 background-color: #9f7acd;
}
